{% extends 'main/base.html' %}

{% block title %}
Find file
{% endblock %}

{% block content %}
    <h1>Find file</h1>
    <div class="alert alert-warning mt-2">
        <form action="/find-file" method="get">
            {% csrf_token %}
            <input type="text" name="key" class="form-control" placeholder="Enter key file"><br>
            <button type="submit" class="btn btn-success">Find</button>
        </form>
        <span>{{ error }}</span>
        <span>{{ file_download_text }}</span>
    </div>
{% endblock %}